.container {
	height: 100vh;
	width: 75px;
	z-index: 200;
	padding: 20px 7px;
	display: flex;
	background-color: #ffffff;
	position: fixed;
	left: 0;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	transition: all 0.5s;
}

.container::-webkit-scrollbar {
	display: none;
}

.container:hover {
	width: 20%;
	box-shadow: -1px 1px 84px -9px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: -1px 1px 84px -9px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -1px 1px 84px -9px rgba(0, 0, 0, 0.2);
}

.topicContainer {
	width: 100%;
}

.subTopics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
	align-items: left;
	cursor: pointer;
}
.optionHolder {
	display: flex;
	height: 50px;
	margin-bottom: 5px;
	border-radius: 10px;
	align-items: center;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	width: 90%;
}

.optionHolder span {
	font-weight: bold;
}

.menuWrapper {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.menuWrapper:hover .optionHolder i,
.optionHolder:hover,
.optionHolder:hover i {
	color: rgb(106, 0, 148);
}

.optionHolder i {
	font-size: 18px;
	cursor: pointer;
	color: black;
	padding: 10px;
	height: 40px;
	width: 40px;
	transition: 0.3s;
}

.menuWrapper:hover .optionHolder {
	background-color: rgba(226, 153, 255, 0.253);
	color: rgb(106, 0, 148);
}

.subMenuWrapper {
	margin-left: 100px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
}

.subMenuWrapper p::before {
	content: "-";
	margin-right: 5px;
}

.subMenuWrapper p {
	margin-bottom: 15px;
	cursor: pointer;
	color: rgb(87, 87, 87);
	font-weight: 600;
	transition: 0.3s ease-in-out;
}

.subMenuWrapper p:last-child {
	margin-bottom: 0px;
}

.subMenuWrapper p:hover {
	color: black;
}

.optionName {
	font-weight: 500;
	padding: none;
}

.logo {
	margin-bottom: 50px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgb(135, 119, 119);
}
.subOptions {
	display: flex;
	justify-content: center;
	align-items: center;
}
.sideBarTopic {
	background-color: rgba(214, 146, 241, 0.253);
	padding: 15px;
	width: 210px;
	border-radius: 15px;
}
.topicHeading {
	color: rgb(135, 0, 189);
	font-size: 18px;
	font-weight: 400;
}
.topicContents {
	font-size: 14px;
	color: rgb(135, 0, 189);
}
.sideBarHolder {
	display: none;
	width: 100%;
	background-color: red;
}
.sideBarOptions {
	display: flex;
	flex-direction: column;
	-ms-overflow-style: none;
	scrollbar-width: none;
	/* background-color: lightgreen; */
	align-items: flex-start;
	overflow: scroll;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.sideBarOptions::-webkit-scrollbar {
	display: none;
}
.optionTitle {
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	text-align: center;
}
.title {
	display: none;
}
