.table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid rgb(226, 226, 226);
	margin-bottom: 20px;
    font-size: 15px;
}
.table thead {
	border-radius: 10px;
}

.table > thead th {
    font-size: 16px;
	border: 1px solid rgb(226, 226, 226);
	padding: 18px;
	margin-bottom: 20px;
    
}

.table > tbody td {
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
}

.table > tbody tr {
	border-bottom: 1px solid rgb(226, 226, 226);
}

.table td {
	border-left: 1px solid rgb(226, 226, 226);
	border-right: 1px solid rgb(226, 226, 226);
}
