.skeleton {
  background: linear-gradient(
    90deg,
    rgba(229, 232, 235, 0.4) 25%,
    rgba(229, 232, 235, 0.7) 37%,
    rgba(229, 232, 235, 0.4) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
