.mainContainer {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border: 1px solid var(--chakra-colors-purple-100);
}

.heading {
  font-weight: 500;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--chakra-colors-purple-100);
}

/* Size: Extra Small */
.sizeXs.mainContainer {
  border-radius: 8px;
}

.sizeXs.headingContainer {
  padding: 12px 16px;
}

.sizeXs.contentContainer {
  padding: 16px;
}

.sizeXs .heading {
  font-size: 14px;
}

.sizeXs .smallHeading {
  font-size: 13px;
}

/* Size: Medium (Default) */
.sizeMd.mainContainer {
  border-radius: 12px;
}

.sizeMd.headingContainer {
  padding: 18px 22px;
}

.sizeMd.contentContainer {
  padding: 26px;
}

.sizeMd .heading {
  font-size: 18px;
}

.sizeMd .smallHeading {
  font-size: 16px;
}

/* Size: Large */
.sizeLg.mainContainer {
  border-radius: 16px;
}

.sizeLg.headingContainer {
  padding: 24px 28px;
}

.sizeLg.contentContainer {
  padding: 32px;
}

.sizeLg .heading {
  font-size: 20px;
}

.sizeLg .smallHeading {
  font-size: 18px;
}

.filledHeader {
  background-color: var(--chakra-colors-purple-50);
}

.subtleHeader {
  background-color: var(--chakra-colors-purple-50);
}

.subtleHeader .heading {
  font-weight: 600;
}

.noPadding {
  padding: 0;
}
