.mainContainer {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border: 1px solid #eee;
}

.heading {
  font-size: 20px;
  font-weight: 700;
  /* color: white; */
}

.smallHeading {
  font-size: 16px;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #eee;
}

.contentContainer {
  padding: 24px;
}

.filledHeader {
  background-color: var(--chakra-colors-purple-500);
}

.subtleHeader {
  background-color: var(--chakra-colors-purple-50);
}

.subtleHeader .heading {
  font-weight: 600;
  color: var(--chakra-colors-purple-700);
}

.filledHeader .heading {
  color: white;
}

.noPadding {
  padding: 0;
}
