.container {
	background-color: white;
	border-radius: 20px;
	display: flex;
	padding-top: 130px;
	flex-direction: column;
	width: 100%;
	position: relative;
}
.container p {
	border-bottom: 1px solid rgb(211, 211, 211);
	position: absolute;
	top: 30px;
	width: 100%;
	left: 0;
	padding-left: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 24px;
}
.titleHolder {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    /* padding-right: 320px;
    padding-left: 350px; */
    align-items: center;
}
.updateButton {
    margin-top: 40px;
    margin-left: 5px;
}
.budgetButton {
    margin-top: 50px;
    margin-left: 5px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.closeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.switchHolder {
    margin-bottom: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.switch {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 20px;
}
.inputHolder {
    /* margin-bottom: -34px; */
    /* height: 78px; */
    display: flex;
	width: 100%;
}
@media (max-width: 480px) {
    .closeButton {
        width: 20px;
        height: 20px;
        top: 10px;
        right: 8px;
    }
}
