.selectorContainer {
  display: flex;
  gap: 12px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 12px;
  border: 1px solid #eee;
}

.mainContainer,
.mainContainer > .childDiv {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
