.container {
	background-color: white;
	border-radius: 20px;
	padding-top: 120px;
	position: relative;
}

.container p {
	border-bottom: 1px solid rgb(211, 211, 211);
	position: absolute;
	top: 30px;
	width: 100%;
	left: 0;
	padding-left: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 24px;
}

.personalInputs {
	display: flex;
	flex-direction: column;
	height: 90px;
	margin-bottom: 30px;
	position: relative;
	padding: 0px 10px;
}

.label {
	color: gray;
	font-size: 15px;
}

.personalInputHolder {
	display: flex;
	/* height: 200px; */
	margin-top: 20px;
	justify-content: space-between;
}

.inputHolder {
	min-height: 30vh;
	width: 50%;
}

.buttoninputHolder {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.inputDiv {
	display: flex;
	max-width: 300px;
	flex-direction: column;
	flex: 1;
}

.icon {
	width: 20px;
	height: 20px;
	color: var(--primaryColor);
	margin-left: 50px;
}

@media (max-width: 600px) {
	.personalInputHolder {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.inputHolder {
		width: 100%;
	}
}
