.container {
	background-color: white;
	border-radius: 20px;
	display: flex;
	padding-top: 130px;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.container p {
	border-bottom: 1px solid rgb(211, 211, 211);
	position: absolute;
	top: 30px;
	width: 100%;
	left: 0;
	padding-left: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 24px;
}

.employee_image {
	margin-top: 20px;
	border-radius: 20px;
	object-fit: cover;
	width: 100%;
	background-color: aqua;
	height: 350px;
}

.dateHolder {
	width: 100%;
	display: flex;
	align-items: center;
}
.infoLabel {
	color: var(--chakra-colors-purple-500);
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
}
.createHandler {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.inputHolder {
	display: flex;
	width: 100%;
}
.switch {
	padding-top: 10px;
}
.buttonHolder {
	align-self: right;
	width: 35%;
	min-width: 400px;
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
	align-items: flex-end;
}
.submitButton {
	width: 50%;
	height: 50px;
	min-width: 25%;
	border-radius: 15px;
	border: 1px solid lightgray;
}
.submitButton:hover {
	color: var(--primaryColor);
	background-color: white;
	border: 1px solid lightgray;
}
.declineButton {
	width: 50%;
	min-width: 25%;
	height: 50px;
	margin-left: 50px;
	background-color: #d83131;
	border-radius: 15px;
	border: 1px solid lightgray;
}
.declineButton:hover {
	color: #d83131;
	background-color: white;
	border: 1px solid lightgray;
}
.button {
	width: 30%;
	height: 50px;
	border-radius: 15px;
}
