.container {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.newJoineeHolder {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.boxContainer {
	/* height: 250px; */
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: all 250ms ease-in-out;
}
.badges {
	padding: 8px;
	cursor: pointer;
}
.titleContent {
	font-size: 1.5em;
	text-transform: "uppercase";
	text-align: "center";
	display: flex;
	padding-bottom: 30px;
	justify-content: flex-end;
	border-bottom: 1px solid lightgray;
}
.count {
	font-size: 2em;
	text-transform: "uppercase";
	text-align: "center";
	align-self: flex-end;
	justify-content: flex-end;
	display: flex;
}
.countNumber {
	margin-right: 20px;
	color: #8b74ff;
	font-size: 62px;
}
.fontMod {
	/* margin-bottom: 20px; */
	font-weight: 700;
	font-size: 25px;
	color: gray;
	/* color: #8b74ff; */
}
.birthdayContent {
	font-size: 15px; 
	font-weight: 600;
	color: gray;
}
.rightHolder {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
.birthdayWeek {
padding: 10px;
 margin-top: 10px;
 width: 480px;
 height: 95%;
 display: flex;
 flex-direction: column;
}
.fontBirthday {
	font-weight: 700;
	font-size: 25px;
	color: gray;
	margin-left: 10px; 
}
.fontResigned {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 25px;
	color: gray;
	margin-left: 50px; 
}
.calendar {
	color: #7d75a5;
	font-size: 1.2em;
	font-weight: 400;
	width: 100%;
}
.dateHeader {
    color: #78719c;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.calendarHolder {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 96%;
	margin-left: 30px;
	margin-top: 40px;
}
.birthdayHolder {
	height: 220px;
	overflow-y: scroll;
}

.anniversaryScroll {
	height: 300px;
	overflow-y: scroll;
}
.birthdayHolder::-webkit-scrollbar {
	scrollbar-width: 0;
	display: none;
	background: transparent;
}

.anniversaryScroll::-webkit-scrollbar {
	scrollbar-width: 0;
	display: none;
	background: transparent;
}
.resignedEmp {
	display: flex;
	margin-left: 300px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.actionHolder {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}

.icon {
	font-size: 1.25em;
	cursor: pointer;
}
.warningIcon {
	font-size: 0.8em;
	cursor: pointer;
	color: red;
	margin-right: 4px;
}

.infoIcon {
	margin-bottom: 10px;
	font-size: 1.5em;
	cursor: pointer;
	color: red;
	margin-right: 4px;
}
.title {
	margin-right: 20px;
	margin-left: 20px;
}

@media (max-width: 1300px) {
	.boxContainer {
		width: 300px;
		margin-bottom: 40px;
	}
}
@media (max-width: 1100px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.boxContainer {
		margin-bottom: 40px;
	}
	.calendarHolder {
		display: flex;
		justify-content: space-around;
		width: 92%;
		margin-top: 40px;
	}
}
