.container {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.graphHolder{
	width:65%;
	height: 300px;
	position: relative;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background: #ffffff;
	-webkit-box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
	box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}
.dropbtn {
	border: 1px solid lightgray;
	color: black;
	padding: 16px;
	height: 40px;
	width: 100%;
	display: flex;
	border-radius: 7px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	/* border: none; */
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 30%;
	margin-top: 10px;
	margin-left: 10px;
	/* padding-bottom: 30px; */
	/* height: 60%; */
}

.dropdowncontent {
	width: 100%;
	display: none;
	position: absolute;
	cursor: pointer;
	background-color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	min-width: 160px;
	height: 200px;
	box-shadow: 0px 8px 16px 
		0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	overflow-y: scroll;
	/* padding-top: 11px; */
}
.newDropdowncontent {
	width: 100%;
	display: none;
	position: absolute;
	cursor: pointer;
	background-color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	min-width: 160px;
	height: 200px;
	box-shadow: 0px 8px 16px 
		0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	overflow-y: scroll;
	/* padding-top: 11px; */
}
.dropdowncontent::-webkit-scrollbar {
	display: none;
}
.newDropdowncontent::-webkit-scrollbar {
	display: none;
}
.dropdownImg {
	border-radius: 50%;
	height: 30px;
	margin-top: 10px;
	margin-right: 30px;
}
.employeeNameLabel {
	font-size: 14px;
	margin-bottom: none;
}
.dropdowncontent a {
	color: black;
	padding: 9px 16px;
	text-decoration: none;
	margin: 0px 10px;
	font-size: 15px;
	margin-top: 10px;
	font-weight: 400;
	display: block;
	display: flex;
	width: 30%;
	justify-content: space-between;
}
.newDropdowncontent a {
	color: black;
	padding: 9px 16px;
	text-decoration: none;
	margin: 0px 10px;
	font-size: 15px;
	margin-top: 10px;
	font-weight: 400;
	display: block;
	display: flex;
	width: 60%;
	justify-content: space-between;
}
/* .dropdowncontent a:hover {
	background-color: #f1f1f1;
}
*/
.dropdown:hover .dropdowncontent {
	display: block;
} 
.dropdown:hover .newDropdowncontent {
	display: block;
} 

/* .dropdown:hover .dropbtn {
	background-color: var(--secondaryColor);
} */



.newJoineeHolder { 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.boxContainer {
	height: 250px;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: all 250ms ease-in-out;
}
.badges {
	padding: 8px;
	cursor: pointer;
}
.titleContent {
	font-size: 1.5em;
	text-transform: "uppercase";
	text-align: "center";
	display: flex;
	padding-bottom: 30px;
	justify-content: flex-end;
	border-bottom: 1px solid lightgray;
}
.count {
	font-size: 2em;
	text-transform: "uppercase";
	text-align: "center";
	align-self: flex-end;
	justify-content: flex-end;
	display: flex;
}
.countNumber {
	margin-right: 20px;
	color: #8b74ff;
	font-size: 62px;
}
.fontMod {
	font-weight: 700;
	font-size: 25px;
	color: gray;
}
.birthdayContent {
	font-size: 15px; 
	font-weight: 600;
	color: gray;
}
.rightHolder {
	display: flex;
	flex-direction: column;
	height: 100%;
	/* background-color: pink; */
	justify-content: space-between;
}
.anniversaryContent {
	display: flex; 
	justify-content: space-between; 
	padding: 10px; 
	margin-top: 20px; 
	align-items: center;
}
.birthdayWeek {
 padding: 15px;
 border-radius: 20px;
 width: 480px;
 height: 98%;
 display: flex;
 flex-direction: column;
}
.fontBirthday {
	font-weight: 700;
	font-size: 25px;
	color: gray;
	margin-left: 10px; 
}
.fontResigned {
	font-weight: 700;
	font-size: 25px;
	color: gray;
}
.calendar {
	color: #7d75a5;
	font-size: 1.2em;
	font-weight: 400;
	width: 100%;
}
.dateHeader {
    color: #78719c;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.calendarHolder {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 96%;
	margin-left: 30px;
	margin-top: 40px;
}
.birthdayHolder {
	height: 220px;
	margin-top: 10px;
	border-bottom: 1px solid lightgray;
	overflow-y: scroll;
}

.anniversaryScroll {
	height: 250px;
	margin-top: 10px;
	margin-bottom: 40px;
	overflow-y: scroll;
}
.anniversaryHolder {
	margin-top: 50px;
}
.birthdayHolder::-webkit-scrollbar {
	scrollbar-width: 0;
	display: none;
	background: transparent;
}

.anniversaryScroll::-webkit-scrollbar {
	scrollbar-width: 0;
	display: none;
	background: transparent;
}
.resignedEmp {
	display: flex;
	margin-top: 20px;
	margin-left: 300px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.actionHolder {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}

.icon {
	font-size: 1.25em;
	cursor: pointer;
}
.warningIcon {
	font-size: 0.8em;
	cursor: pointer;
	color: red;
	margin-right: 4px;
}

.infoIcon {
	margin-bottom: 10px;
	font-size: 1.5em;
	cursor: pointer;
	color: red;
	margin-right: 4px;
}
.title {
	margin-right: 20px;
	margin-left: 20px;
}

.mainWrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		min-height: 100%;
		width: 100%;
}

.leftHolder {
	width: 67%;
	height: 100%;
	/* background-color: pink; */
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.rightHold {
	width: 30%;
	height: 100%;
}

.cardHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 1300px) {
	.boxContainer {
		width: 300px;
		margin-bottom: 40px;
	}
}
@media (max-width: 1100px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.boxContainer {
		margin-bottom: 40px;
	}
	.calendarHolder {
		display: flex;
		justify-content: space-around;
		width: 92%;
		margin-top: 40px;
	}
}

@media (max-width: 680px) {
	.mainWrapper {
		display: flex;
		/* background-color: pink; */
		width: 100%;
		flex-direction: column;
	}
	.cardHolder {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.leftHolder {
		width: 100%;
		height: 100%;
		/* background-color: red; */
	}
	.rightHold {
		width: 100%;
		height: 100%;
	}
	.boxContainer {
		width: 400px;
		height: 300px;
		background-color: purple;
		margin-bottom: 40px;
		margin: none;
	}
}