.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputSubContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}

.label {
  font-size: 14px;
  color: gray;
  font-weight: 600;
  margin-bottom: 6px;
}

.badgeStyle {
  padding: 10px 30px !important;
  min-width: 160px;
  text-align: center;
  margin-top: 12px;
}

.cashHandoverContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;
  background-color: rgba(244, 244, 244, 0.275);
  padding: 20px;
  border-radius: 12px;
}

.cashHandoverContainer > div {
  margin-bottom: 12px;
}

.leftRightContainer {
  display: flex;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 60px;
  max-width: 600px;
}
